/* 添加 CSS */
h3{
  padding-bottom: 10px;
}
img{


  width:300px;
}
.anecdote{
  font-style: italic;


}
span {
  font-weight: bold;
}
ul,li{ margin:0; padding:0; list-style:none; }
li{
  list-style-type:none;
}

.context{
  border: 2px  solid 	#D8D8D8	;
    box-shadow: 5px 5px #B0B0B0;
}

.info{
  border: 2px  solid 		#D8D8D8;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  padding-left: 4px;
}
